<% include header %>
    <div class="container">
       <div>
            <label>用户名：</label> 
            <span><%= user.name %></span>
       </div>
       <div>
            <label>ID：</label> 
            <span><%= user.id %></span>
       </div>
    </div>
<% include footer %>